appdirs==1.4.4
click==7.1.2
colorama==0.4.3
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
future==0.18.2
itsdangerous==1.1.0
PyAudio @ https://github.com/dachosen1/Common-Voice/blob/master/commonvoice/PyAudio-0.2.11-cp38-cp38-win32.whl
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.0
packaging==20.4
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
six==1.15.0
toml==0.10.1
tox==3.16.0
virtualenv==20.0.25
Werkzeug==1.0.1

