# --extra-index-url=${GEMFURY_PUSH_URL}

Flask==1.1.2
Flask-SocketIO==4.3.1
joblib==0.16.0
librosa==0.8.0
matplotlib==3.3.1
Markdown==3.2.2
numpy==1.19.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2





# intsall from gemfurry
# audio_model == 0.0.1



