include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./regression_model/*

include model/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]