include *.txt
include *.md
include *.pt
include *.cfg
include *.pkl

recursive-include audio_model/*


include audio_model/VERSION
include *.pt



include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]