librosa==0.8.0
llvmlite==0.34.0
matplotlib==3.0.3
mlflow==1.9.1
numpy==1.18.5
pandas==0.25.3
pydub==0.24.1
pyparsing==2.4.7
pytest==5.4.3
python-speech-features==0.6
setuptools==49.3.1
scikit-learn==0.22.2.post1
tox==3.19.0
tqdm==4.47.0
wandb==0.9.4




alembic==1.4.3
appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.2.0
audioread==2.1.9
azure-core==1.8.2
azure-storage-blob==12.5.0
beautifulsoup4==4.9.3
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
configparser==5.0.1
cryptography==3.1.1
cycler==0.10.0
databricks-cli==0.12.2
decorator==4.4.2
distlib==0.3.1
docker==4.3.1
docker-pycreds==0.4.0
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-SocketIO==4.3.1
future==0.18.2
gitdb==4.0.5
GitPython==3.1.9
gorilla==0.3.0
gql==0.2.0
graphql-core==1.1
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
Js2Py==0.70
kiwisolver==1.2.0
librosa==0.8.0
llvmlite==0.34.0
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.0.3
mlflow==1.9.1
more-itertools==8.5.0
msrest==0.6.19
numba==0.51.2
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
packaging==20.4
pandas==0.25.3
pathtools==0.1.2
Pillow==8.0.0
pipwin==0.5.0
pluggy==0.13.1
pooch==1.2.0
prometheus-client==0.8.0
prometheus-flask-exporter==0.18.1
promise==2.3
protobuf==3.13.0
psutil==5.7.2
py==1.9.0
pycparser==2.20
pydub==0.24.1
pyjsparser==2.7.1
pyparsing==2.4.7
PyPrind==2.11.2
pySmartDL==1.3.4
pytest==5.4.3
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.2
python-socketio==4.6.0
python-speech-features==0.6
pytz==2020.1
pywin32==227
PyYAML==5.3.1
querystring-parser==1.2.4
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.5.3
sentry-sdk==0.19.1
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
SoundFile==0.10.3.post1
soupsieve==2.0.1
SQLAlchemy==1.3.13
sqlparse==0.4.1
subprocess32==3.5.4
tabulate==0.8.7
tenacity==6.2.0
threadpoolctl==2.1.0
toml==0.10.1
torch==1.6.0
torchvision==0.7.0
tox==3.19.0
tqdm==4.47.0
tzlocal==2.1
urllib3==1.25.11
virtualenv==20.0.35
waitress==1.4.4
wandb==0.9.4
watchdog==0.10.3
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
zipp==3.3.1
