**/*.venv-app

**/*wandb
**/*mlruns
**/*audio-model
*/*/audio-model*
run_pipeline.py
utils.py

*/*/.circleci*
**/*.github

.git
.cache

venv/*
*/venv/*
/venv/*
commonvoice/.tox
model/.tox
.circleci*
*.log
.git
.gitignore