appdirs==1.4.4
audioread==2.1.9
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
configparser==5.0.1
decorator==4.4.2
dnspython==1.16.0
docker-pycreds==0.4.0
eventlet==0.30.0
Flask==1.1.2
Flask-SocketIO==4.3.2
gevent==20.9.0
gevent-websocket==0.10.1
gitdb==4.0.5
GitPython==3.1.11
google-api-core==1.24.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.35.0
google-crc32c==1.1.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gql==0.2.0
graphql-core==1.1
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
librosa==0.8.0
llvmlite==0.34.0
Markdown==3.2.2
MarkupSafe==1.1.1
numba==0.51.2
numpy==1.19.4
nvidia-ml-py3==7.352.0
packaging==20.8
pandas==0.25.3
Pillow==8.0.1
pooch==1.3.0
promise==2.3
protobuf==3.14.0
psutil==5.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydub==0.24.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-engineio==3.13.2
python-socketio==4.6.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.1
resampy==0.2.2
rsa==4.6
scikit-learn==0.22.2.post1
scipy==1.5.4
sentry-sdk==0.19.5
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
SoundFile==0.10.3.post1
subprocess32==3.5.4
tqdm==4.47.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wandb==0.9.7
watchdog==1.0.2
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
