eventlet==0.30.0
Flask==1.1.2
Flask-SocketIO==4.3.2
gevent==20.9.0
gevent-websocket==0.10.1
google-cloud-storage==1.35.0
gunicorn==20.0.4
librosa==0.8.0
llvmlite==0.34.0
Markdown==3.3.3
numpy==1.19.4
pandas==1.1.5
Pillow==8.0.1
python-engineio==3.13.2
python-socketio==4.6.1
pydub==0.24.1
scikit-learn==0.22.2.post1
SoundFile==0.10.3.post1
tqdm==4.54.1
wandb==0.10.12
