audioread==2.1.8
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
configparser==5.0.0
cycler==0.10.0
decorator==4.4.2
docker-pycreds==0.4.0
gitdb==4.0.5
GitPython==3.1.2
gql==0.2.0
graphql-core==1.1
idna==2.9
joblib==0.15.1
kiwisolver==1.2.0
librosa==0.7.2
llvmlite==0.32.1
matplotlib==3.2.1
numba==0.49.1
numpy==1.18.4
nvidia-ml-py3==7.352.0
pandas==1.0.4
pathtools==0.1.2
promise==2.3
psutil==5.7.0
pycparser==2.20
pydub==0.24.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
resampy==0.2.2
scikit-learn==0.23.1
scipy==1.4.1
sentry-sdk==0.14.4
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
SoundFile==0.10.3.post1
subprocess32==3.5.4
threadpoolctl==2.1.0
tqdm==4.46.0
urllib3==1.25.9
wandb==0.8.36
watchdog==0.10.2
