alembic==1.4.2
appdirs==1.4.4
atomicwrites==1.4.0
attrs==19.3.0
audio-model==0.0.1
azure-core==1.7.0
azure-storage-blob==12.3.2
beautifulsoup4==4.9.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
colorama==0.4.3
configparser==4.0.2
cryptography==3.0
cycler==0.10.0
databricks-cli==0.11.0
decorator==4.4.2
distlib==0.3.1
docker-pycreds==0.4.0
docker==4.2.2
entrypoints==0.3
filelock==3.0.12
flask-socketio==4.3.1
flask==1.1.2
fsspec==0.8.0
future==0.18.2
gcsfs==0.6.2
gitdb==4.0.5
gitpython==3.1.7
google-api-core==1.22.0
google-auth-oauthlib==0.4.1
google-auth==1.20.1
google-cloud-core==1.4.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.1
google==3.0.0
googleapis-common-protos==1.52.0
gorilla==0.3.0
gql==0.2.0
graphql-core==1.1
gunicorn==20.0.4
idna==2.10
importlib-metadata==1.7.0
importlib-resources==3.0.0
isodate==0.6.0
itsdangerous==1.1.0
jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.1.0
mako==1.1.3
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.0.3
mlflow==1.9.1
more-itertools==8.4.0
msrest==0.6.18
netifaces==0.10.6
nibabel==3.0.2
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
packaging==20.4
pandas==0.25.3
pathlib2==2.3.5
pathtools==0.1.2
pillow==7.2.0
pip==20.2.2
pluggy==0.13.1
prometheus-client==0.8.0
prometheus-flask-exporter==0.15.4
promise==2.3
protobuf==3.12.2
psutil==5.7.2
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyaudio==0.2.11
pycparser==2.20
pydub==0.24.1
pyparsing==2.4.7
pypiwin32==219
pytest==5.4.3
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.1
python-socketio==4.6.0
python-speech-features==0.6
pytz==2020.1
pyyaml==5.3.1
querystring-parser==1.2.4
requests-oauthlib==1.3.0
requests==2.24.0
rsa==4.6
scikit-learn==0.22.2.post1
scipy==1.4.1
sentry-sdk==0.16.2
setuptools==49.3.1
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
socketio==0.2.1
soupsieve==2.0.1
sqlalchemy==1.3.13
sqlparse==0.3.1
subprocess32==3.5.4
tabulate==0.8.7
toml==0.10.1
torch==1.5.1
torchsample==0.1.3
torchvision==0.6.1
tox==3.19.0
tqdm==4.47.0
urllib3==1.25.10
virtualenv==20.0.28
waitress==1.4.4
wandb==0.9.4
watchdog==0.10.3
wcwidth==0.2.5
websocket-client==0.57.0
werkzeug==1.0.1
wheel==0.34.2
zipp==1.2.0