<html>
  <!--Only the head and body elements are supposed to be direct descendants of the
  html element. All others should be descendants of either the head or body-->
  <head>
    <!--The head element must be a direct descendant of the html element-->
    <!--The head element is a very busy place for most websites, so we've created
    a tutorial to walk you through the different elements and tasks accomplished
    in the head element. You can find it at the following address:
    https://html.com/document/metadata/ -->
    <title>Your Webpage Title Goes Here</title>
  </head>
  <body>
    <!--The body element contains the full visible content of the web page-->
    <header>
      <!--The header typically includes your logo, tagline, and may contain a nav
      element-->
      <nav>
        <!--The nav element isn't used for every single link but for navigational
        menus-->
      </nav>
    </header>
    <main>
      <!--The main element cannot be used inside of anything other than the body
      element. It is intended to hold the main content of the page.-->
      <nav>
        <!--You can use a nav element just about anywhere-->
      </nav>
      <article>
        <!--If your web page contains a blog post or news article it makes sense
        to wrap the whole article in article tags-->
        <aside>
          <!--The aside tag can be used within an article or outside of it. It
          is used to mark content that is related but not central to the main
          content of the page-->
        </aside>
        <section>
          <!--Sections are used to seperate major parts of an element, such as
          chapters of an HTML ebook, or to cordone off the comments section
          from the rest of the main element-->
        </section>
        <address>
          <!--An address element inside of an article element is used to provide
          contact info for the author of the article-->
        </address>
      </article>
      <aside>
        <!--The aside element would also be used to mark a sidebar if used
        outside of the main element-->
        <section>
          <!--Within a sidebar you could use section elements to identify the
          different parts of the sidebar. For example, you could put adds in
          one section, related posts in a second section, and a newsletter
          signup form in a third section element.-->
        </section>
      </aside>
    </main>
    <footer>
      <!--The footer typically contains links to things like About Us, Privacy
      Policy, Contact Us and so forth. It may also contain a nav, address,
      section, or aside element.-->
      <address>
        <!--Put an address element in the footer and you're indicating that
        the contact info within the element is for the owner of the website
        rather than the author of the article.-->
      </address>
    </footer>
  </body>
</html>
