<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Common Voice - Home Page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="container">

  <header class="main-header">
      <a class="brand-logo" href="index.html">
        <img src="img/Logo.png">
        <div class="brand-logo-name">Common Voice</div>
      </a>
    <nav class="main-nav">
      <ul>
        <li><a href="about.html"> About </a> </li>
      </ul>
    </nav>
  </header>
  <main class="home-main-section">
      <div class="section-1">
        <h1>
          Generating Audio Prediction using Machine Learning
        </h1>
      </div>
      <div class="section-2" >
        <div class="recording-picture">
          <img src="img/undraw_recording.png">
        </div>
        <div class="main-section-right">
          <div class="call-to-action">
            <h1 class="title">What does your voice say about you? </h1>
          </div>
          <div class="audio-mic">
            <button type="submit">
              <img src="img/mic.png"  alt="submit" />
            </button>
          </div>
          <div class="prediction-result">
            <div class="category-class">
              <div class="gender-box">
                <h1>Gender</h1>
              </div>
              <div class="country-box">
                <h1>County</h1>
              </div>
              <div class="age-box">
                <h1>Age</h1>
              </div>
            </div>
            <div class="category-prob">
              <div class="category-prob-gender">
                <h1>97%</h1>
              </div>
              <div class="category-prob-age">
                <h1>95%</h1>
              </div>
              <div class="category-prob-country">
                <h1>92%</h1>
              </div>
            </div>
          </div>
           </div>
      </div>

      <div class="section-3">
        <div class="section-3-top">
          <h1>
            What is Common Voice?
          </h1>
        </div>

        <div class="section-3-bottom">
          <div class="section-3-bottom-left">
            <p class="section-3-bottom-left-text">
              Common Voice is Mozilla's initiative to help teach machines how real people speak.
            </p>
          </div>
          <div class="section-3-bottom-right">
            <p class="common-voice-overview"> Voice is natural, voice is human. That’s why Common-voice is excited about creating usable voice
              technology . But to create voice systems, developers need an extremely large amount of voice data. </p>

              <p> Most of the data used by large companies isn’t available to the majority of people. Common voice believes
              that stifles innovation.  Common Voice is a project to help make voice recognition open and accessible to
                everyone. </p>

              <p>Now you can donate your voice to help us build an open-source voice database that anyone can use to make
              innovative apps for devices and the web. Read a sentence to help machines learn how real people speak.
                Check the work of other contributors to improve the quality. It’s that simple! </p>

             <p> To learn more visit: <a href="https://voice.mozilla.org/en">Common Voice</a>
                </p>
          </div>
        </div>
      </div>
  </main>
</body>
<footer class="main-footer">
    <div class="container">
        <nav class="footer-nav">
            <ul>
                <li><a href="https://github.com/dachosen1/Common-Voice" class="social-link">
                    <img src="img/gihub.png">
                </a></li>
            </ul>
        </nav>
    </div>
</footer>
</html>
