<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">

  <meta name="theme-color" content="#fafafa">

</head>

<body class="container full-height-grow">
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <header class="main-header">
    <a href="index.html" class="brand-logo">
      <img src="img/Logo.png">
      <div class="brand-logo-name">Common Voice</div>
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="about.html"> About </a> </li>
      </ul>
    </nav>
  </header>

  <section class="home-main-section">
    <div class="call-to-action">
      <h1 class="title">Generating Machine Learning Prediction using Audio</h1>
    </div>
    <div class="audio-mic">
      <button type="submit">
        <img src="img/mic.png"  alt="submit" />
      </button>
    </div>
  </section>

</body>

<footer class="main-footer">
  <div>
    <img src="img/github.png">
    <img src="img/medium%20logo.png">
  </div>


</footer>
</html>
